body {
  background-color: #CFFCB2;
  font-family: "M PLUS 1";
  font-weight: bold;
}

header {
  width: 100%;
  height: 100px;
  background-color: #70D62D;
  /* padding-top: 44px; */
}
header .flexWrap {
  width: 100%;
  height: 100%;
  position: relative;
  display: flex;
  align-items: flex-end;
  padding-bottom: 15px;
}
header .flexWrap .returnBtn {
  position: absolute;
  left: 24px;
  bottom: 8px;
  width: 48px;
  height: 48px;
  background-image: url("../img/retunBtnBg.svg");
  display: flex;
  justify-content: center;
  align-items: center;
}
header .flexWrap .returnBtn a {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
header .flexWrap .returnBtn a .returnBtnArrow {
  width: 10px;
  height: auto;
}
header .flexWrap h2 {
  text-align: center;
  font-size: 18px;
  margin: 0 auto;
  color: #fff;
}

.explanation {
  font-size: 20px;
  font-weight: bold;
  text-align: center;
  margin-top: 24px;
}

.readingCardWrap {
  width: 330px;
  height: 428px;
  border: solid 4px #422307;
  background-color: #fff;
  border-radius: 8px;
  margin: 0 auto;
  margin-top: 16px;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  padding-top: 48px;
  background-size: cover;
}
.readingCardWrap .initialWrap {
  position: absolute;
  top: 16px;
  right: 16px;
  width: 87px;
  height: 87px;
  background-color: #41A400;
  border-radius: 50px;
  color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 48px;
  font-weight: bold;
}
.readingCardWrap .readingCardText {
  writing-mode: vertical-rl;
  font-size: 32px;
  font-weight: bold;
  line-height: 55px;
  letter-spacing: 3px;
  color: #422307;
}

.fileBtn {
  width: 100px;
  height: 20px;
}

label {
  display: block;
  width: 300px;
  height: 64px;
  background-color: #FF7F29;
  color: #fff;
  border-radius: 30px;
  margin: 0 auto;
  margin-top: 24px;
  padding: 20px;
  text-align: center;
  cursor: pointer;
  font-size: 20px;
  box-shadow: 0px 6px 0px #CA6420;
}

input {
  display: none;
}

.decideBtn {
  display: block;
  width: 300px;
  height: 64px;
  border-radius: 50px;
  background-color: #FF7F29;
  margin: 0 auto;
  margin-top: 36px;
  color: #fff;
  font-size: 20px;
  box-shadow: 0px 6px 0px #CA6420;
  display: none;
}

.redoBtn {
  display: block;
  width: 240px;
  height: 64px;
  border-radius: 50px;
  background-color: #FFB127;
  box-shadow: 0px 6px 0px #E79D1B;
  margin: 0 auto;
  margin-top: 16px;
  color: #fff;
  font-size: 20px;
  display: none;
}

.nonEditBtn {
  display: block;
  width: 300px;
  height: 64px;
  border-radius: 50px;
  background-color: #FF7F29;
  margin: 0 auto;
  margin-top: 36px;
  color: #fff;
  font-size: 20px;
  box-shadow: 0px 6px 0px #CA6420;
  display: none;
}

.editBtn {
  display: block;
  width: 240px;
  height: 64px;
  border-radius: 50px;
  background-color: #FFB127;
  box-shadow: 0px 6px 0px #E79D1B;
  margin: 0 auto;
  margin-top: 16px;
  color: #fff;
  font-size: 20px;
  display: none;
}

.textEditPlace {
  width: 100vw;
  height: 100vh;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
  background-color: rgba(0, 0, 0, 0.5);
  display: none;
  justify-content: center;
  flex-direction: column;
}
.textEditPlace .karutaTextEdit {
  display: block;
  font-size: 28px;
  width: 280px;
  height: 80px;
  background-color: #fff;
  margin: 0 auto;
}
.textEditPlace .karutaTextEditDecide {
  display: block;
  width: 300px;
  height: 64px;
  border-radius: 50px;
  background-color: #FF7F29;
  margin: 0 auto;
  margin-top: 48px;
  color: #fff;
  font-size: 20px;
  box-shadow: 0px 6px 0px #CA6420;
}
.textEditPlace .karutaTextEditDecide a {
  color: #fff;
  text-decoration: none;
}

.none {
  display: none;
}